@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: rgba(30, 185, 237, 0.944);
}
h1{
    font-size: 55px;
    padding-left: 650px;
}
h3{
    padding-left: 650px;
}
.full{
    width: 100%;
    height:700px;
    position: relative;
    display: inline-block;
}
.one{
    width: 730px;
    height: 680px;
    border-style: solid;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    background-color: whitesmoke;
}
.two{
    width: 730px;
    height: 680px;
    border-style: solid;
    position: relative;
    display: inline-block;
    margin-left: 30px;
    background-color: whitesmoke;
}
.image{
    width: 700px;
    height: 350px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
    background-image: url("/images/13.webp");
    background-size: cover;
    background-color: whitesmoke;
}
.text{
    width: 700px;
    height: 300px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
}
.half{
    width: 100%;
    height:700px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}
.three{
    width: 730px;
    height: 680px;
    border-style: solid;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    background-color: whitesmoke;
}
.four{
    width: 730px;
    height: 680px;
    border-style: solid;
    position: relative;
    display: inline-block;
    margin-left: 30px;
    background-color: whitesmoke;
}
.image1{
    width: 700px;
    height: 350px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
    background-image: url("/images/29.png");
    background-size: cover;
}
.text1{
    width: 700px;
    height: 300px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
}
.image2{
    width: 700px;
    height: 350px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
    background-image: url("/images/30.jpg");
    background-size: cover;
}
.text2{
    width: 700px;
    height: 300px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
}
.image3{
    width: 700px;
    height: 350px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
    background-image: url("/images/31.jpeg");
    background-size: cover;
}
.text3{
    width: 700px;
    height: 300px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
}
.digital{
    color: black;
    font-size: 25px;
}
.map{
    color: black;
    position: relative;
    left: 50px;
    font-size: 25px;
    border-radius: 10%;
    top: 20px;
    text-decoration: none;
}
.map a{
    text-decoration: none;
    color: black;
}
.yeh{
    color: black;
    font-size: 25px;
    position: relative;
    left: 500px;
    bottom: 22px;
    border-radius: 10%;
}